<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/X-admin/lib/layui/css/layui.css}">
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">添加</button>
    </div>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use('table', function(){
        var table = layui.table;
        var id=[[${id}]];
        table.render({
            elem: '#test'
            ,url:'/person/getTwoCharpter/'+id
            ,toolbar: '#toolbarDemo'
            ,cols: [
                [
                {type:'checkbox'}
                ,{field:'id',title:'序列', width:120, sort: true,hide:true}
                ,{field:'menuname',title:'章节名称', width:160, }
            ]
            ]
            ,done: function(res, page, count){
                //可以自行添加判断的条件是否选中
                //这句才是真正选中，通过设置关键字LAY_CHECKED为true选中，这里只对第一行选中

                res.data[0]["LAY_CHECKED"]='true';
                //下面三句是通过更改css来实现选中的效果
                var index= res.data[0]['LAY_TABLE_INDEX'];
                $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
            }
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;  //获取选中行数据
                    layer.alert(JSON.stringify(data));
                    break;
            };
        });
    });
</script>

</body>
</html>