<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
<!--    <link rel="stylesheet" href="../X-admin/layui/css/layui.css"  media="all">-->
    <script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!--<div class="x-nav">-->
<!--          <span class="layui-breadcrumb">-->
<!--            <a href="">首页</a>-->
<!--            <a href="">演示</a>-->
<!--            <a>-->
<!--              <cite>导航元素</cite></a>-->
<!--          </span>-->
<!--    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"-->
<!--       onclick="location.reload()" title="刷新">-->
<!--        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>-->
<!--</div>-->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
<!--                    <div class="demoTable">-->
                    <form class="layui-form layui-col-space5" style="width: 600px">
                        <div class="layui-inline layui-show-xs-block">
                            章节：
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="title" autocomplete="off" class="layui-input" id="title">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            领域：
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <select name="scope" id="scope" lay-verify="select">

                            </select>
                        </div>
                        <button class="layui-btn" lay-submit="" lay-filter="sreach" id="searchBtn"><i class="layui-icon">&#xe615;</i></button>
                    </form>

                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                     <table class="layui-hide" id="test" lay-filter="test"></table>
                </div>


    </div>
</div>
</div>
</div>
</body>


<script>
    layui.use(['form','table'], function () {
        var table = layui.table;
        var form = layui.form;

        $("#searchBtn").on('click',function () {
             var title=$("#title").val();
             var scope=$("#scope").val();
            table.reload('testReload',{
                url:'/person/getCharpter',
                where:{
                    title:title,
                    scope:scope
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            })
            return false;
        })

        $.ajax({
            url: '/person/addselect',
            // data: data,
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $("#scope").append("<opyion value=''></opyion>")
                $(data).each(function (i,n) {
                   $("#scope").append("<option value='"+n.name+"'>"+n.name+"</option>")
                })
                form.render('select')
            }
        })

        //第一个实例
        table.render({
            elem: '#test'
            , height: 450
            // ,url: '/demo/table/user/' //数据接口
            , url: '/person/getCharpter' //数据接口
            , cols: [
                [ //表头
                {field: 'pm', title: '序号',align: 'center', width: 160}
                ,{field: 'id', title: '序号', align: 'center', width: 160, hide: true}
                , {field: 'state', title: '状态', width: 160, align: 'center', sort: true, hide: true}
                , {field: 'scope', title: '领域', width: 160, align: 'center', sort: true}
                , {field: 'menuname', title: '名称', align: 'center', width: 160}
                , {field: 'name', title: '章节', align: 'center', width: 160}
                , {field: 'menuname1', title: '上一级', align: 'center', width: 160}
                , {title: '操作', width: 210, align: 'center', toolbar: '#barDemo'}
            ]
            ]
            , page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],     // 自定义分页布局
                curr: 1,      // 设置默认起始页1
                groups: 5,   //只显示10个连续页码,就是说显示10个可见页其他的省略
                first: false, // 不显示首页
                last: false   // 不显示尾页
            },
            // limit: 3,
            limits: [5, 10, 15, 20, 25]
            , id: "testReload"
        });


        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'detail') { //增加
                    $("#shuyu1").html("所属知识点："+data.menuname)
                    $("#hideid1").html(data.id)
                    $("#charpter1").val(data.name)
                $.ajax({
                    url: '/person/seeCharpter',
                    data: data,
                    dataType: 'text',
                    type: 'get',
                    success: function (data) {
                        if (data != '本章节未匹配内容，请先新增！') {
                            layer.msg("本章节已有视频，如需修改请选择修改");
                        }else {
                            layer.open({
                                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                                type: 1,
                                title: "完善章节细节",
                                area: ['420px', '450px'],
                                content: $("#addCharpter"),//引用的弹出层的页面层的方式加载修改界面表单
                            });
                        }
                    }
                })

            }else if(layEvent === 'view') { //查看
                $("#shuyu").html("所属知识点："+data.menuname)
                $("#hidename").html(data.id)
                $.ajax({
                    url: '/person/seeCharpter',
                    data: data,
                    dataType: 'text',
                    type: 'get',
                    success: function (data) {
                        if (data == '本章节未匹配内容，请先新增！') {
                            layer.msg(data);
                        }else {
                            var json=JSON.parse(data)
                            $("#charpter").val(json.name)
                            $("#time").val(json.classtime)
                            $("#introduce").val(json.detial)
                            $("#url").val(json.url)
                            layer.open({
                                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                                type: 1,
                                title: "章节信息查看",
                                area: ['420px', '450px'],
                                content: $("#popUpdateTest"),//引用的弹出层的页面层的方式加载修改界面表单
                            });
                        }
                    }
                })
            } else if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        url: '/person/delCharpter',
                        data: data,
                        dataType: 'text',
                        type: 'get',
                        success: function (data) {
                            layer.msg(data);
                            if (data == '删除成功') {
                               location.href="http://localhost:8080/person/Charpter";
                            }
                        }
                    })

                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') { //编辑
                $("#hideid2").html(data.id)
                    $.ajax({
                        url: '/person/seeCharpter',
                        data: data,
                        dataType: 'text',
                        type: 'get',
                        success: function (data) {
                            if (data == '本章节未匹配内容，请先新增！') {
                                layer.msg(data);
                            } else {
                                var json = JSON.parse(data)
                                $("#charpter2").val(json.name)
                                $("#introduce2").val(json.detial)
                                layer.open({
                                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                                    type: 1,
                                    title: "章节信息查看",
                                    area: ['420px', '450px'],
                                    content: $("#fixCharpter"),//引用的弹出层的页面层的方式加载修改界面表单
                                });
                            }
                        }
                    })

            } else if (layEvent === 'LAYTABLE_TIPS') {
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
    });
    layui.use(['form', 'layer', 'jquery'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;

        form.on('submit(demo12)', function (data) {
            var hideid = $("#hideid").html();
            var lingyu=$("#scope1").val();
            var newname=$("#newname1").val();
            var flag=confirm("确定修改课程吗？");
            if (flag){
                $.ajax({
                    url: '/person/fixKnow',
                    data:  {"newname": newname, "lingyu": lingyu, "hideid": hideid},
                    dataType: 'text',
                    type: 'get',
                    success: function (data) {
                        layer.msg(data);
                        if (data == '修改成功') {
                            location.href="http://localhost:8080/person/getZhishi";
                        }
                    }
                })
            }
            return false;

        })


        form.on('submit(demo11)', function (data) {
            var hidename = $("#hidename").html();
            var lingyu=$("#lingyu").val();
            var newname=$("#newname").val();
            var flag=confirm("确定增加子级课程吗？");
            if (flag){
                $.ajax({
                    url: '/person/addKnow',
                    data:  {"newname": newname, "lingyu": lingyu, "hidename": hidename},
                    dataType: 'text',
                    type: 'get',
                    success: function (data) {
                        layer.msg(data);
                        if (data == '新增成功') {
                            location.href="http://localhost:8080/person/getZhishi";
                        }
                    }
                })
            }
                return false;
        })
    });
</script>

<script type="text/jsp" id="barDemo">
    <div class="layui-btn-container">
        {{#  if(d.state ==0){  }}
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        {{# }else{  }}
        <button type="button" class="layui-btn layui-btn-xs layui-btn-disabled">查看</button>
        {{# }  }}

        {{#  if(d.state ==0){  }}
        <a class="layui-btn layui-btn-xs" lay-event="detail">增加</a>
        {{# }else{  }}
        <button type="button" class="layui-btn layui-btn-xs layui-btn-disabled">增加</button>
        {{# }  }}

        {{#  if(d.state ==0){  }}
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
        {{# }else{  }}
        <button type="button" class="layui-btn layui-btn-xs layui-btn-disabled">修改</button>
        {{# }  }}

        {{#  if(d.state ==0){  }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        {{# }else{  }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="recover">已删除</a>
        {{# }  }}
    </div>
</script>

<div class="login-main" style="margin-top:50px;display:none;" id="popUpdateTest">
    <div class="layui-form-item">
        <label class="layui-form-label" id="shuyu" style="width: 200px"></label>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">课程章节：</label>
        <input class="layui-input"  disabled="disabled" id="charpter" style="width: 200px">
        <span id="hidename" hidden></span>
    </div>
    <br><br>
    <div class="layui-inline">
        <label class="layui-form-label">课程时长：</label>
        <input class="layui-input"  disabled="disabled" id="time" style="width: 200px">
    </div>
    <br><br>
    <div class="layui-inline">
        <label class="layui-form-label">课程简述：</label>
        <input class="layui-input"  disabled="disabled" id="introduce" style="width: 200px">
    </div>
    <br><br>
    <div class="layui-inline">
        <label class="layui-form-label">视频路径：</label>
        <input class="layui-input"  disabled="disabled" id="url" style="width: 200px">
    </div>
    <br><br>
    <div class="layui-upload" style="margin-left: 20px">
        <button type="button" class="layui-btn layui-btn-normal" id="startVido" style="margin-left: 80px">播放视频</button>
    </div>
</div>
<!--修改界面-->

<div class="login-main" style="margin-top:50px;display:none;" id="addCharpter">
    <fieldset class="layui-elem-field layui-field-title" >
        <legend>选完文件后不自动上传</legend>
    </fieldset>
    <div class="layui-inline">
        <label class="layui-form-label">课程章节：</label>
        <input class="layui-input"  disabled="disabled" id="charpter1" style="width: 200px">
        <span id="hideid1" hidden></span>
        <span id="videoTime" hidden></span>
    </div>
    <br><br>
    <div class="layui-inline">
        <label class="layui-form-label">课程简述：</label>
        <input class="layui-input"  required lay-verify="required" id="introduce1" style="width: 200px">
    </div>
    <br><br>
    <div class="layui-upload" style="margin-left: 20px">
        <button type="button" class="layui-btn layui-btn-normal" id="test8">选择文件</button>
        <button type="button" class="layui-btn" id="titsubmit">提交</button>
        <button type="button" class="layui-btn" id="test9" style="height: 0">开始上传</button>
        <video id="videoattr" width="250" height="100" ></video>
    </div>
</div>

<div class="login-main" style="margin-top:50px;display:none;" id="fixCharpter">
    <fieldset class="layui-elem-field layui-field-title" >
        <legend>选完文件后不自动上传</legend>
    </fieldset>
    <div class="layui-inline">
        <label class="layui-form-label">课程章节：</label>
        <input class="layui-input"  disabled="disabled" id="charpter2" style="width: 200px">
        <span id="hideid2" hidden></span>
        <span id="videoTime2" hidden></span>
    </div>
    <br><br>
    <div class="layui-inline">
        <label class="layui-form-label">课程简述：</label>
        <input class="layui-input"  required lay-verify="required" id="introduce2" style="width: 200px">
    </div>
    <br><br>
    <div class="layui-upload" style="margin-left: 20px">
        <button type="button" class="layui-btn layui-btn-normal" id="test10">选择文件</button>
        <button type="button" class="layui-btn" id="titsubmit1">重新上传</button>
        <button type="button" class="layui-btn" id="test11" style="height: 0">开始上传</button>
        <video id="videoattr2" width="250" height="100" ></video>
    </div>
</div>
<script th:inline="javascript">
    $("#titsubmit").on("click", function () {
        var introduce1 = $("#introduce1").val()
        var id=$("#hideid1").html();
        if (introduce1 == null || introduce1 == "") {
            layer.msg('简述不可为空');
        } else {
            $("#test9").click();
        }
    })
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            accept: "file",
            acceptMime:'video/mp4',
            elem: '#test8'
            , url: '/person/upload' //改成您自己的上传接口
            , auto: false,
                choose:function(obj){
                    //预读本地文件示例，不支持ie8
                    layer.load(2);
                    obj.preview(function(index, file, result){
                        var url = URL.createObjectURL(file);//把file转成URL
                        $('#videoattr').attr('src', url); //视频链接
                        var timer = setTimeout(function(){
                            layer.close(layer.index);
                            var video_time = document.getElementById("videoattr").duration;//视频时长
                            console.log(video_time);
                            var theTime = parseInt(video_time);// 秒
                            var middle= 0;// 分
                            var hour= 0;// 小时

                            if(theTime > 60) {
                                middle= parseInt(theTime/60);
                                theTime = parseInt(theTime%60);
                                if(middle> 60) {
                                    hour= parseInt(middle/60);
                                    middle= parseInt(middle%60);
                                }
                            }
                            var result = ""+parseInt(theTime)+"秒";
                            if(middle > 0) {
                                result = ""+parseInt(middle)+"分"+result;
                            }
                            if(hour> 0) {
                                result = ""+parseInt(hour)+"小时"+result;
                            }
                            $("#videoTime").html(result)
                            console.log(result)
                            clearTimeout(timer);
                        },1000);
                    });
                }
            , data: {
            introduce1: function () {
                return $("#introduce1").val();
            },
            id: function () {
                return $("#hideid1").html();
            },
                videoTime: function () {
                    return $("#videoTime").html();
                },
        }
            //,multiple: true
            , bindAction: '#test9'
            , before: function () {
                layer.msg('上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
                layer.tips('接口地址：' + this.url, this.item, {tips: 1});
            }
            , done: function (res) {
                layer.msg('上传成功');
                location.href="http://localhost:8080/person/Charpter";
            }
            , error: function () {
                layer.msg('上传失败');
            }
        });
    });
    $("#startVido").on('click',function(){
        var id=$("#hidename").html()

        $.ajax({
            url: '/person/findUrl',
            data:  {"id": id},
            dataType: 'text',
            type: 'get',
            success: function (data) {
                // layer.msg(data);
                // if (data == '新增成功') {
                //     location.href="http://localhost:8080/person/getZhishi";
                // }
                $("#oneVideo").attr("src","/X-admin"+data)
                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 1,
                    title: "视频观看",
                    area: ['800px', '550px'],
                    content: $("#watchvideo"),//引用的弹出层的页面层的方式加载修改界面表单
                    cancel: function(){
                        $("#oneVideo").trigger("pause");
                    }
                });
            }
        })
    })

    $("#titsubmit1").on("click", function () {
        var introduce1 = $("#introduce2").val()
        var id=$("#hideid2").html();
        if (introduce1 == null || introduce1 == "") {
            layer.msg('简述不可为空');
        } else {
            $("#test11").click();
        }
    })
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;

        //选完文件后不自动上传
        upload.render({
            accept: "file",
            acceptMime:'video/mp4',
            elem: '#test10'
            , url: '/person/upload' //改成您自己的上传接口
            , auto: false,
            choose:function(obj){
                //预读本地文件示例，不支持ie8
                layer.load(2);
                obj.preview(function(index, file, result){
                    var url = URL.createObjectURL(file);//把file转成URL
                    $('#videoattr2').attr('src', url); //视频链接
                    var timer = setTimeout(function(){
                        layer.close(layer.index);
                        var video_time = document.getElementById("videoattr2").duration;//视频时长
                        console.log(video_time);
                        var theTime = parseInt(video_time);// 秒
                        var middle= 0;// 分
                        var hour= 0;// 小时

                        if(theTime > 60) {
                            middle= parseInt(theTime/60);
                            theTime = parseInt(theTime%60);
                            if(middle> 60) {
                                hour= parseInt(middle/60);
                                middle= parseInt(middle%60);
                            }
                        }
                        var result = ""+parseInt(theTime)+"秒";
                        if(middle > 0) {
                            result = ""+parseInt(middle)+"分"+result;
                        }
                        if(hour> 0) {
                            result = ""+parseInt(hour)+"小时"+result;
                        }
                        $("#videoTime2").html(result)
                        console.log(result)
                        clearTimeout(timer);
                    },1000);
                });
            }
            , data: {
                introduce1: function () {
                    return $("#introduce2").val();
                },
                id: function () {
                    return $("#hideid2").html();
                },
                videoTime: function () {
                    return $("#videoTime2").html();
                },
            }
            //,multiple: true
            , bindAction: '#test11'
            , before: function () {
                layer.msg('上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })
                layer.tips('接口地址：' + this.url, this.item, {tips: 1});
            }
            , done: function (res) {
                layer.msg('上传成功');
                location.href="http://localhost:8080/person/Charpter";
            }
            , error: function () {
                layer.msg('上传失败');
            }
        });
    });
</script>

<div class="login-main" style="margin-top:20px;display:none;" id="watchvideo">
      <div>
          <video  width="600" height="450" controls="controls" style="margin-left: 100px" id="oneVideo">
          </video>
      </div>
</div>
</html>