<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业审核</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/X-admin/js/jquery.min.js}"></script>
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">

                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="companyName" id="companyName" placeholder="请输入公司名"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <select name="checkState" id="checkState">
                                <option value="">审核状态</option>
                                <option value="待审核">待审核</option>
                                <option value="审核通过">审核通过</option>
                                <option value="审核不通过">审核不通过</option>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" data-type="reload" type="button">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form" id="test" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<div class="layui-row" style="display: none ;text-align: center" id="lookDiv" >
    <img id="img" style="height: 100%;width: 60%" src="">
</div>

<script type="text/html" id="barDemo">
    {{#  if(d.state=="待审核"){ }}
    <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="pass">审核通过</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="failed">审核不通过</a>
    {{#  } }}
    {{#  if(d.state=="审核通过"){ }}
    <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="failed">审核不通过</a>
    {{#  } }}
    {{#  if(d.state=="审核不通过"){ }}
    <a class="layui-btn layui-btn-xs" lay-event="look">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="pass">审核通过</a>
    {{#  } }}
</script>

<script>
    layui.use(['form', 'layer', 'table'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        table.render({
            elem: '#test'  //绑定table id
            , url: '/system/checkCompanyList'  //数据请求路径
            , height: 480
            , page: true   //开启分页
            , limit: 10  //默认十条数据一页
            , limits: [10, 20, 50]  //数据分页条
            , title: "企业审核"
            , id: 'testReload'
            , cols: [
                [
                    {field: 'num', width: 200, title: '序号', sort: true}
                    , {field: 'id', title: '参数名', hide: true}
                    , {field: 'companyName', width: 200, title: '公司名',}
                    , {field: 'tel', width: 200, title: '联系方式',}
                    , {field: 'name', width: 150, title: '申请人',}
                    , {field: 'time', width: 150, title: '申请时间'}
                    , {field: 'qualification', title: '资格证', hide: true}
                    , {field: 'state', width: 150, title: '审核状态'}
                    , {fixed: 'right', title: '操作', width: 250, align: 'center', toolbar: '#barDemo'}//一个工具栏  具体请查看layui官网
                ]
            ]

        });

        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            var id = data.id;
            var state;
            if (layEvent === 'look') {
                console.log(data.qualification)
                $("#img").attr("src", data.qualification);
                layer.open({
                    type: 1,
                    title: '查看营业执照',
                    content: $('#lookDiv'),
                    area: ['60%', '80%'],

                });
            } else if (layEvent === 'pass') {
               layer.confirm('确定审核通过',function (index) {
                      state ='审核通过'
                   $.ajax({
                       url: "/system/checkCompany",
                       method: 'post',
                       data: "id="+id+"&state="+state,
                       dataType: 'text',
                       success: function (data) {
                           if (data === "success") {
                               layer.alert("审核通过", {
                                   icon: 1
                               },)
                               location.reload();
                           } else{
                               layer.alert("审核失败", {
                                   icon: 2
                               })
                           }
                       },
                   });
               })
            } else if (layEvent === 'failed') {
               layer.confirm('确定审核通过',function (index) {
                    state='审核不通过';
                   $.ajax({
                       url: "/system/checkCompany",
                       method: 'post',
                       data: "id="+id+"&state="+state,
                       dataType: 'text',
                       success: function (data) {
                           if (data === "success") {
                               layer.alert("审核不通过成功", {
                                   icon: 1
                               },)
                               location.reload();
                           } else{
                               layer.alert("审核失败", {
                                   icon: 2
                               })
                           }
                       },
                   });
               })
            }


        })


        $('.layui-btn').click(function () {
            var companyName = $("#companyName").val();
            var state = $("#checkState").val();
            table.reload('testReload', {
                    url: '/system/checkCompanyList'
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            companyName: companyName,
                            state: state
                        }
                    }
                }
            )

        });


    })


</script>


</html>