<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公司信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
</head>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>公司简介</legend>
</fieldset>

<form class="layui-form" action="" lay-filter="example">
    <div class="layui-form-item">
        <input id="name" type="text" th:value="${company.name}" name="name" lay-verify="name" autocomplete="off" placeholder="公司名称" class="layui-input"></div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">公司地址</label>
        <div class="layui-input-block">
            <input id="address" th:value="${company.address}" type="text" name="address" lay-verify="address"  placeholder="请输入公司地址" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公司简介</label>
        <div class="layui-input-block">
            <textarea id="introduce" th:text="${company.introduce}" placeholder="请输入公司简介" class="layui-textarea"></textarea>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input id="tel" th:value="${company.tel}" type="text" name="tel" lay-verify="tel"  placeholder="请输入联系方式" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主营任务</label>
        <div class="layui-input-block">
            <input id="business" th:value="${company.business}" type="text" name="business" lay-verify="business"  placeholder="请输入主营任务" autocomplete="off" class="layui-input">
        </div>
    </div>



    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">修改</button>
        </div>
    </div>
</form>




<script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //监听提交
        form.on('submit(demo1)', function(data){
            var introduce = $('#introduce').val();
            var name = $('#name').val();
            var address = $('#address').val();
            var tel = $('#tel').val();
            var business = $('#business').val();
            if(introduce.length >200){
                alert("输入简介超过200个字");
            }else{
                $.ajax({
                    url:"/admin/companyUpdate",
                    type: "POST",
                    data:"name="+name+"&introduce="+introduce+"&address="+address+"&tel="+tel+"&business="+business,
                    // dataType: "json",
                    success:function(res){
                        if(res>0){
                            alert("修改成功");
                        }else{
                            alert("修改失败");
                        }
                    }
                })
            }

            return false;
        });


    });
</script>

</body>
</html>