<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>招聘进度</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>职位招聘进度</legend>
</fieldset>

<input type="hidden" id="jobstation" th:value="${jobstation}">
<input type="hidden" id="userid" th:value="${userid}">

<div>
    <div class="layui-form">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>申请者</th>
                <th>岗位</th>
                <th>第一阶段</th>
                <th>第二阶段</th>
                <th>第三阶段</th>
                <th>第四阶段</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a th:href="@{javascript:void(0)}" th:text="${username}" /></td>
                <td><a th:href="@{javascript:void(0)}" th:text="${title}" /></td>
                <td><a id="one" th:href="@{javascript:void(0)}" th:text="${job.one}" style="color: red" /></td>
                <td><a id="two" th:href="@{javascript:void(0)}"  th:text="${job.two}" style="color: red"  /></td>
                <td><a id="three" th:href="@{javascript:void(0)}"  th:text="${job.three}" style="color: red" /></td>
                <td><a id="four" th:href="@{javascript:void(0)}"  th:text="${job.four}" style="color: red" /></td>
            </tr>
            </tbody>
        </table>

    </div>

    <button id="returnFrame" class="layui-btn">返回</button>
</div>

<script>

    layui.use(['laydate','table','form','layer'], function() {
        var layer = layui.layer;
        var form= layui.form;


        $('#one').on('click', function () {
            var userid = $("#userid").val();
            var i = $("#jobstation").val();

            layer.open({
                type: 2
                , content: "/admin/showRecruit2?id=" + userid
                , area: ['1000px', '700px']
                , title: '查看用户简历'
                , shade: 0.6 //遮罩透明度
                , maxmin: true //允许全屏最小化
                , anim: 1 //0-6的动画形式，-1不开启
                , btn: ['确定']
                , yes: function (index, layero) {
                    $.ajax({
                        url: "/admin/checkResume",
                        data: 'id=one&value=已查看&i=' + i,
                        success: function (res) {
                            $("#one").text("已查看");
                        }
                    })
                    layer.close(index);
                }
                , cancel: function (index, layero) {
                    if (confirm('确定要关闭么')) {//只有当点击confirm框的确定时，该层才会关闭
                        $("#one").text("已查看");
                        layer.close(index)
                    }
                    return false;
                }
            })
        })

        $('#two').on('click', function () {
            var two =$('#two').text();
            if(two == '已邀请'){
                alert("该用户已经被邀请过了");
            }else{
                layer.open({
                    type: 2
                    , content: "/admin/inviteUserByCompanyFrame"
                    , area: ['600px', '500px']
                    , title: '修改用户信息'
                    , shade: 0.6 //遮罩透明度
                    , maxmin: true //允许全屏最小化
                    , anim: 1 //0-6的动画形式，-1不开启
                    , btn: ['确定', '返回']
                    , yes: function (index, layero) {

                        var body = layer.getChildFrame("body", index);
                        var address = body.contents().find("#address").val();
                        var date = body.contents().find("#date").val();
                        var tel = body.contents().find("#tel").val();
                        console.log(date);
                        console.log(address);
                        console.log(tel);

                        var i = $("#jobstation").val();
                        var userid = $("#userid").val();
                        console.log($("#two").text());
                        console.log(userid);
                        console.log(i);

                        $.ajax({
                            url: "/admin/inviteUserByCompany",
                            data: 'id=two&value=已邀请&jobstation=' + i + "&userid=" + userid+"&address="+address+"&date="+date+"&tel="+tel,
                            success: function (res) {
                                if (res > 0) {
                                    alert("邀请成功");
                                    $("#two").text("已邀请");
                                }
                            }
                        })
                        layer.close(index);
                    }
                    //返回按键
                    , btn2: function (index, layero) {
                        if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                            layer.close(index);
                        }
                        return false;//开启该代码可禁止点击该按钮关闭
                    }
                    //右上角关闭按键
                    , cancel: function (index, layero) {
                        if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                            layer.close(index)
                        }
                        return false;
                    }
                });
            }


        })

        $('#three').on('click', function () {
            var i = $("#jobstation").val();
            $.ajax({
                url: "/admin/checkResume",
                data: 'id=three&value=已面试&i=' + i,
                success: function (res) {
                    if (res > 0) {
                        alert("面试完成");
                        $("#three").text("已面试");
                    }
                }
            })
        })

        $('#four').on('click', function () {

            var four =$('#four').text();
            if(four != '待处理'){
                alert("投递简历已经处理完成");
            }else{
                layer.open({
                    type: 2
                    , content: "/admin/handleUserByCompanyFrame"
                    , area: ['600px', '500px']
                    , title: '修改用户信息'
                    , shade: 0.6 //遮罩透明度
                    , maxmin: true //允许全屏最小化
                    , anim: 1 //0-6的动画形式，-1不开启
                    , btn: ['确定', '返回']

                    , yes: function (index, layero) {

                        var body = layer.getChildFrame("body", index);
                        var state = body.contents().find("#state").val();
                        console.log(state);
                        if(state == null || state == undefined || state == ''){
                            alert("请选择对简历的处理");
                        }else{
                            var i = $("#jobstation").val();
                            $.ajax({
                                url: "/admin/checkResume",
                                data: 'id=four&value='+state+'&i=' + i,
                                success: function (res) {
                                    if (res > 0) {
                                        alert('处理完成');
                                        $("#four").text(state);
                                    }
                                }
                            })
                            layer.close(index);
                        }
                    }
                    //返回按键
                    , btn2: function (index, layero) {
                        if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                            layer.close(index);
                        }
                        return false;//开启该代码可禁止点击该按钮关闭
                    }
                    //右上角关闭按键
                    , cancel: function (index, layero) {
                        if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                            layer.close(index)
                        }
                        return false;
                    }
                });
            }

        })

        $('#returnFrame').on('click', function (){
            location.href = "/admin/adminBioCheckFrame"
        })
    })
</script>


</body>
</html>