<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style type="text/css"></style>
<meta content="no-siteapp" http-equiv="Cache-Control">
<link  media="handheld" rel="alternate">
<!-- end 云适配 -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>我的简历</title>
	<link th:href="@{/X-admin/css/style.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/X-admin/css/external.min.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/X-admin/css/popup.css}" type="text/css" rel="stylesheet">
	<script th:src="@{/X-admin/js/jquery-3.5.1.js}"></script>
	<script th:src="@{/X-admin/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<div id="body">
	<div id="header">
    	<div class="wrapper">
            	<div class="profile_box" id="basicInfo">
            		<h2>基本信息</h2>
            		<span class="c_edit"></span>
            		<div class="basicShow">
                        <span>
							<span th:text="${user1.name}"></span>| <span th:text="${params1.getName()}"></span> | <span th:text="${params.getName()}"></span> <br>
                            <span th:text="${user1.tel}"></span> | <span th:text="${user1.email}"></span><br>
							 <div class="layui-card-header">
                    <button class="layui-btn" lay-submit="" lay-filter="sreach" id="update">修改</button>
                </div>

            			</span>
            	<div class="profile_box" id="workExperience">
            		<h2>工作经历  <span> （投递简历时必填）</span></h2>
					<span class="c_add dn"></span>
                    <div class="experienceAdd pAdd">
						<span th:text="${user1.jobexperience}">
						</span>
						<button class="layui-btn" lay-submit="" lay-filter="sreach" id="experience">修改工作经历</button>
            		</div><!--end .experienceAdd-->

            	<div class="profile_box" id="projectExperience">
            		<h2>项目经验</h2>
                    <span class="c_add dn"></span>
					<div class="projectAdd pAdd">
						<span th:text="${user1.project}"></span>
						<button class="layui-btn" lay-submit="" lay-filter="sreach" id="project">修改项目经验</button>
            		</div><!--end .projectAdd-->
            	</div><!--end #projectExperience-->

            	<div class="profile_box" id="educationalBackground">
            		<h2>教育背景<span>（投递简历时必填）</span></h2>
					<span class="c_add dn"></span>
					<div class="educationalAdd pAdd">
						<span th:text="${params.getName()}"></span>
						<button class="layui-btn" lay-submit="" lay-filter="sreach" id="education">修改教育经历</button>
            		</div><!--end .educationalAdd-->
            	</div><!--end #educationalBackground-->

            	<div class="profile_box" id="selfDescription">
            		<h2>自我描述</h2>
					<span class="c_edit dn"></span>
					<div class="descriptionAdd pAdd">
						<span th:text="${user1.self}"></span>
						<button class="layui-btn" lay-submit="" lay-filter="sreach" id="self">修改自我描述</button>
            		</div><!--end .descriptionAdd-->
            	</div><!--end #selfDescription-->

            </div><!--end .content_l-->

<script>
	layui.use(['form', 'layer', 'jquery'], function () {
		var layer=layui.layer;
	$("#update").on("click", function () {
		layer.open({
			//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
			type: 1,
			title: "修改基本信息",
			area: ['50%', '50%'],
			content: $("#myinfor")
		});
	});

		$("#experience").on("click", function () {
			layer.open({
				//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
				type: 1,
				title: "修改基本信息",
				area: ['50%', '50%'],
				content: $("#myinfor1")
			});
		});


		$("#project").on("click", function () {
			layer.open({
				//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
				type: 1,
				title: "修改基本信息",
				area: ['50%', '50%'],
				content: $("#myinfor2")
			});
		});



		$("#education").on("click", function () {
			layer.open({
				//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
				type: 1,
				title: "修改基本信息",
				area: ['50%', '50%'],
				content: $("#myinfor3")
			});
		});


		$("#self").on("click", function () {
			layer.open({
				//layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
				type: 1,
				title: "修改基本信息",
				area: ['50%', '50%'],
				content: $("#myinfor4")
			});
		});
});
</script>
			<div class="clear"></div>
			<input type="hidden" value="97fd449bcb294153a671f8fe6f4ba655" id="resubmitToken">
	    	<a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
	    </div><!-- end #container -->
	</div><!-- end #body -->

<div id="cboxOverlay" style="display: none;">
</div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
	<div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div>
		<div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;">
		</div></div>
		<div style="clear: left;">
			<div id="cboxMiddleLeft" style="float: left;">
			</div>
			<div id="cboxContent" style="float: left;">
				<div id="cboxTitle" style="float: left;"></div>
				<div id="cboxCurrent" style="float: left;"></div>
				<button type="button" id="cboxPrevious"></button>
				<button type="button" id="cboxNext"></button>
				<button id="cboxSlideshow"></button>
				<div id="cboxLoadingOverlay" style="float: left;"></div>
				<div id="cboxLoadingGraphic" style="float: left;"></div></div>
			<div id="cboxMiddleRight" style="float: left;"></div></div>
		<div style="clear: left;">
			<div id="cboxBottomLeft" style="float: left;">

			</div>
			<div id="cboxBottomCenter" style="float: left;"></div>
			<div id="cboxBottomRight" style="float: left;"></div>
		</div></div>
	<div style="position: absolute; width: 9999px; visibility: hidden; display: none;">
	</div>
</div>
</div>
	</div>


<!--//个人信息的修改框-->
<div class="layui-row" id="myinfor" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label">姓名：</label>
				<div class="layui-input-block">
					<input  th:value="${user1.name}" type="text" name="name" autocomplete="off"  class="layui-input" id="name" required lay-verify="required" style="width: 200px;height: 30px">
				</div>
			</div>
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label" >性别：</label>
				<div class="layui-input-block">
					<input th:value="${params1.getName()}" type="text" name="sex" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="sex" style="width: 200px;height: 30px" >
				</div>
			</div>
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label" >学历：</label>
				<div class="layui-input-block">
					<input th:value="${params.getName()}" type="text" name="" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="detial" style="width: 200px;height: 30px">
				</div>
			</div>
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label" >电话：</label>
				<div class="layui-input-block">
					<input th:value="${user1.tel}" type="text" name="detial" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="tel" style="width: 200px;height: 30px">
				</div>
			</div>
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label" >邮箱：</label>
				<div class="layui-input-block">
					<input th:value="${user1.email}" type="text" name="detial" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="email"  style="width: 200px;height: 30px">
				</div>
			</div>
			<div class="layui-form-item" style="margin-top:40px">
				<div class="layui-input-block">
					<button class="layui-btn  layui-btn-submit " lay-submit="" style="margin-left: 300px" id="surefix2">保存</button>
				</div>
			</div>
		</form>
	</div>
</div>
</div>



<!--//经历-->
<div class="layui-row" id="myinfor1" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label">工作经历：</label>
				<div class="layui-input-block">
					<input  th:value="${user1.jobexperience}" type="text" name="jobexperience" autocomplete="off"  class="layui-input" id="jobexperience" required lay-verify="required" style="width: 200px;height: 30px">
					<div class="layui-input-block">
						<button class="layui-btn  layui-btn-submit " lay-submit="" style="margin-left: 1px" id="baocun1">保存</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>


<!--//项目经验-->
<div class="layui-row" id="myinfor2" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label">项目经验：</label>
				<div class="layui-input-block">
					<input  th:value="${user1.project}" type="text" name="project1" autocomplete="off"  class="layui-input" id="project1" required lay-verify="required" style="width: 200px;height: 30px">
					<div class="layui-input-block">
						<button class="layui-btn  layui-btn-submit " lay-submit="" style="margin-left: 1px" id="baocun2">保存</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>



<!--//教育背景-->
<div class="layui-row" id="myinfor3" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label">教育背景：</label>
				<div class="layui-input-block">
					<input  th:value="${params.getName()}" type="text" name="education1" autocomplete="off"  class="layui-input" id="education1" required lay-verify="required" style="width: 200px;height: 30px">
					<div class="layui-input-block">
						<button class="layui-btn  layui-btn-submit " lay-submit="" style="margin-left: 1px" id="baocun3">保存</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>




<!--//自我描述-->
<div class="layui-row" id="myinfor4" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item" style="text-align: center">
				<label class="layui-form-label">自我描述：</label>
				<div class="layui-input-block">
					<input  th:value="${user1.self}" type="text" name="self1" autocomplete="off"  class="layui-input" id="self1" required lay-verify="required" style="width: 200px;height: 30px">
					<div class="layui-input-block">
						<button class="layui-btn  layui-btn-submit " lay-submit="" style="margin-left: 1px" id="baocun4">保存</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</div>
</body>
</html>