<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" async="" th:src="@{/X-admin/js/conversion.js}">
	</script><script th:src="@{/X-admin/js/allmobilize.min.js}" charset="utf-8" id="allmobilize"></script>
	<style type="text/css"></style>
<meta content="no-siteapp" http-equiv="Cache-Control">
<link  media="handheld" rel="alternate">
<!-- end 云适配 -->
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>我的简历</title>
<script type="text/javascript">

</script>
	<link th:href="@{/X-admin/css/style.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/X-admin/css/external.min.css}" type="text/css" rel="stylesheet">
	<link th:href="@{/X-admin/css/popup.css}" type="text/css" rel="stylesheet">
	<script type="text/javascript" th:src="@{/X-admin/js/jquery.1.10.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/X-admin/js/jquery.lib.min.js}" ></script>
	<script type="text/javascript" th:src="@{/X-admin/js/ajaxfileupload.js}"></script>
<!-- <script src="style/js/additional-methods.js" type="text/javascript"></script> -->
<!--[if lte IE 8]>
	<script type="text/javascript" th:src="@{/X-admin/js/excanvas.js}"></script>
<![endif]-->

<script type="text/javascript">
var youdao_conv_id = 271546; 
</script>

<script th:src="@{/X-admin/js/conv.js}" type="text/javascript"></script>
<script th:src="@{/X-admin/js/ajaxCross.json}" charset="UTF-8"></script>
</head>
<body>
<div id="body">
	<div id="header">
    	<div class="wrapper">
            	<div class="profile_box" id="basicInfo">
            		<h2>基本信息</h2>
            		<span class="c_edit"></span>
            		<div class="basicShow">
                        <span>
							<span th:text="${user1.name}"></span>| <span th:text="${params1.getName()}"></span> | <span th:text="${params.getName()}"></span> <br>
                            <span th:text="${user1.tel}"></span> | <span th:text="${user1.email}"></span><br>
							<button>修改</button>
            			</span>
            	<div class="profile_box" id="workExperience">
            		<h2>工作经历  <span> （投递简历时必填）</span></h2>
					<span class="c_add dn"></span>
                    <div class="experienceAdd pAdd">
<!--                        工作经历最能体现自己的工作能力，<br>-->
<!--                        且完善后才可投递简历哦！-->
						<span th:text="${params2.getName()}">
						</span>
						<button>修改工作经历</button>
            		</div><!--end .experienceAdd-->

            	<div class="profile_box" id="projectExperience">
            		<h2>项目经验</h2>
                    <span class="c_add dn"></span>
					<div class="projectAdd pAdd">
<!--						项目经验是用人单位衡量人才能力的重要指标哦！<br>-->
<!--						来说说让你难忘的项目吧！-->
						<span th:text="${user1.project}"></span>
						<button>修改项目经验</button>
            		</div><!--end .projectAdd-->
            	</div><!--end #projectExperience-->

            	<div class="profile_box" id="educationalBackground">
            		<h2>教育背景<span>（投递简历时必填）</span></h2>
					<span class="c_add dn"></span>
					<div class="educationalAdd pAdd">
<!--						教育背景可以充分体现你的学习和专业能力，<br>-->
<!--						且完善后才可投递简历哦！-->
						<span th:text="${user1.education}"></span>
						<button>修改教育经历</button>
            		</div><!--end .educationalAdd-->
            	</div><!--end #educationalBackground-->

            	<div class="profile_box" id="selfDescription">
            		<h2>自我描述</h2>
					<span class="c_edit dn"></span>
					<div class="descriptionAdd pAdd">
						描述你的性格、爱好以及吸引人的经历等，<br>
						让企业了解多元化的你！
						<button>修改自我描述</button>
            		</div><!--end .descriptionAdd-->
            	</div><!--end #selfDescription-->

            </div><!--end .content_l-->
<script th:src="@{/X-admin/js/Chart.min.js}" type="text/javascript"></script>
<script th:src="@{/X-admin/js/profile.min.js}" type="text/javascript"></script>
<!-- <div id="profileOverlay"></div> -->
<div class="" id="qr_cloud_resume" style="display: none;">
	<div class="cloud">
		<img width="134" height="134" src="">
		<a class="close" href="javascript:;"></a>
	</div>
</div>
<script>
$(function(){
	$.ajax({
        url:ctx+"/mycenter/showQRCode",
        type:"GET",
        async:false
   	}).done(function(data){
        if(data.success){
             $('#qr_cloud_resume img').attr("src",data.content);
        }
   	}); 
	var sessionId = "resumeQR"+314873;
	if(!$.cookie(sessionId)){
		$.cookie(sessionId, 0, {expires: 1});
	}
	if($.cookie(sessionId) &amp;&amp; $.cookie(sessionId) != 5){
		$('#qr_cloud_resume').removeClass('dn');
	}
	$('#qr_cloud_resume .close').click(function(){
		$('#qr_cloud_resume').fadeOut(200);
		resumeQR = parseInt($.cookie(sessionId)) + 1;
		$.cookie(sessionId, resumeQR, {expires: 1});
	});
});
</script>
			<div class="clear"></div>
			<input type="hidden" value="97fd449bcb294153a671f8fe6f4ba655" id="resubmitToken">
	    	<a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
	    </div><!-- end #container -->
	</div><!-- end #body -->

<script th:src="@{/X-admin/js/core.min.js}" type="text/javascript"></script>
<script th:src="@{/X-admin/js/popup.min.js}" type="text/javascript"></script>

<!--  -->

<script type="text/javascript">
$(function(){
	$('#noticeDot-1').hide();
	$('#noticeTip a.closeNT').click(function(){
		$(this).parent().hide();
	});
});
var index = Math.floor(Math.random() * 2);
var ipArray = new Array('42.62.79.226','42.62.79.227');
var url = "ws://" + ipArray[index] + ":18080/wsServlet?code=314873";
var CallCenter = {
		init:function(url){
			var _websocket = new WebSocket(url);
			_websocket.onopen = function(evt) {
				console.log("Connected to WebSocket server.");
			};
			_websocket.onclose = function(evt) {
				console.log("Disconnected");
			};
			_websocket.onmessage = function(evt) {
				//alert(evt.data);
				var notice = jQuery.parseJSON(evt.data);
				if(notice.status[0] == 0){
					$('#noticeDot-0').hide();
					$('#noticeTip').hide();
					$('#noticeNo').text('').show().parent('a').attr('href',ctx+'/mycenter/delivery.html');
					$('#noticeNoPage').text('').show().parent('a').attr('href',ctx+'/mycenter/delivery.html');
				}else{
					$('#noticeDot-0').show();
					$('#noticeTip strong').text(notice.status[0]);
					$('#noticeTip').show();
					$('#noticeNo').text('('+notice.status[0]+')').show().parent('a').attr('href',ctx+'/mycenter/delivery.html');
					$('#noticeNoPage').text(' ('+notice.status[0]+')').show().parent('a').attr('href',ctx+'/mycenter/delivery.html');
				}
				$('#noticeDot-1').hide();
			};
			_websocket.onerror = function(evt) {
				console.log('Error occured: ' + evt);
			};
		}
};
CallCenter.init(url);
</script>

<div id="cboxOverlay" style="display: none;">

</div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
	<div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div>
		<div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;">
		</div></div>
		<div style="clear: left;">
			<div id="cboxMiddleLeft" style="float: left;">

			</div>
			<div id="cboxContent" style="float: left;">
				<div id="cboxTitle" style="float: left;"></div>
				<div id="cboxCurrent" style="float: left;"></div>
				<button type="button" id="cboxPrevious"></button>
				<button type="button" id="cboxNext"></button>
				<button id="cboxSlideshow"></button>
				<div id="cboxLoadingOverlay" style="float: left;"></div>
				<div id="cboxLoadingGraphic" style="float: left;"></div></div>
			<div id="cboxMiddleRight" style="float: left;"></div></div>
		<div style="clear: left;">
			<div id="cboxBottomLeft" style="float: left;">

			</div>
			<div id="cboxBottomCenter" style="float: left;"></div>
			<div id="cboxBottomRight" style="float: left;"></div>
		</div></div>
	<div style="position: absolute; width: 9999px; visibility: hidden; display: none;">
	</div>
</div>
</div>
	</div>


<!--//个人信息的修改框-->
<div class="layui-row" id="addZhishi" style="display:none;">
	<div class="layui-col-md10">
		<form class="layui-form layui-from-pane" action="" style="margin-top:20px">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名：</label>
				<div class="layui-input-block">
					<input type="text" name="name" autocomplete="off" placeholder="请输入领域" class="layui-input" id="name" required lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别：</label>
				<div class="layui-input-block">
					<input type="text" name="sex" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="sex" >
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">学历：</label>
				<div class="layui-input-block">
					<input type="text" name="" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="detial">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">电话：</label>
				<div class="layui-input-block">
					<input type="text" name="detial" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="tel">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">邮箱：</label>
				<div class="layui-input-block">
					<input type="text" name="detial" required lay-verify="required" autocomplete="off"
						   class="layui-input" id="email" >
				</div>
			</div>
			<div class="layui-form-item" style="margin-top:40px">
				<div class="layui-input-block">
					<button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="demo13" id="surefix2">保存
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
<script>
    window.onload=function(){          // 初始化内容      
        init();
    }
    
    function init() {
        $("#expectJob > .c_edit").removeClass('dn');
    }
</script>
</html>