<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <head>
        <meta charset="UTF-8">
        <title>登录页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" th:href="@{/X-admin/lib/layui/css/layui.css}">
        <link rel="stylesheet" th:href="@{/X-admin/lib/layui/css/style.css}">
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    </head>
<body>

<div class="login-main" style="margin-top:-50px">
    <header class="layui-elip">用户注册</header>
    <form class="layui-form">
        <div class="layui-input-inline">
            <input type="text" name="account" id="account" required lay-verify="required" placeholder="用户名"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="name" id="name" required lay-verify="name" placeholder="真实姓名"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password" id="password" required lay-verify="pass" placeholder="密码"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="password" name="password2" id="password2" lay-verify="required|confirmPass" placeholder="确认密码"
                   autocomplete="off"
                   class="layui-input">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <input type="text" name="age" id="age" required lay-verify="age" placeholder="年龄"
                   autocomplete="off"
                   class="layui-input">
        </div>

        <div class="layui-form-item">
<!--                <label class="layui-form-label">手机：</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="text" name="phone" id="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">-->
<!--                </div>-->
            <input type="text" name="phone" id="phone" required lay-verify="phone" placeholder="手机："
                   autocomplete="off"
                   class="layui-input">
            </div>
        <div class="layui-form-item">
<!--                <label class="layui-form-label">通讯地址：</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="text" id="address" name="address" lay-verify="email" autocomplete="off" class="layui-input">-->
<!--                </div>-->
            <input type="text" name="address" id="address" required lay-verify="address" placeholder="通讯地址："
                   autocomplete="off"
                   class="layui-input">
            </div>
        <hr/>
        <div>
            <button lay-submit lay-filter="login" class="layui-btn" style="margin-left: 98px">注册</button>
            <button  class="layui-btn" ><a href="/hello/userLogin">返回</a></button>


        </div>



    </form>
</div>


<script th:src="@{/X-admin/lib/layui/layui.js}"></script>
<script type="text/javascript">

    $(function () {
        layui.use('form', function(){
            var form = layui.form;
            form.render('radio','sex');
        });
    })
    layui.use(['form', 'layer', 'jquery'], function () {
        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        var pass = $("#password").val();
        var age = $("#age").val();
        var phone = $("#phone").val();
        var name = $("#name").val();

        form.verify({
            pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ],
            confirmPass: function (value) {
                if ($('#password').val() !== value)
                    return '两次密码输入不一致！'
            },
            name: [
                /^[\u4e00-\u9fa5][\u4e00-\u9fa5]{1,5}$/
                , '真实姓名格式不正确'
            ],
            age: [
                /^([1-9]\d?|1[01]\d|120)$/
                , '年龄格式不正确'
            ],
            phone: [
                /^1[3456789]\d{9}$/
                , '手机号码格式不正确'
            ]

        });


        form.on('submit(login)', function (data) {
            $.ajax({
                url: '/user/register',
                data: data.field,
                dataType: 'text',
                type: 'post',
                success: function (data) {
                    layer.msg(data);
                    if (data == '注册成功') {
                        var flag = confirm("要跳转登录界面吗？");
                        if (flag) {
                            location.href = "/hello/userLogin";
                        }
                    }
                }
            })
            return false;
        })

        // form.on('submit(return)', function (data) {
        //     location.href = "/hello/userLogin";
        //     return false;
        // })



    });


</script>
</body>
</html>