<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
<table width="50%" height="30%" cellpadding="5px" cellspacing="0" border="1" align="center">
    <caption><h2>个人简历</h2></caption>
    <tr>
        <td width="100" align="center">求职意向</td>
        <td width="100" colspan="6"></td>
    </tr>
    <tr align="center">
        <td colspan="7" bgcolor="lightgray"><b>基本信息</b></td>
    </tr>
    <tr>
        <td width="100" align="center">姓名</td>
        <td width="100" align="center" th:text="${user.name}"></td>
        <td width="100" align="center">性别</td>
        <td width="100" align="center" th:text=${user.sexStr}></td>
        <td width="100" align="center">出生年月</td>
        <td width="100" align="center" th:text=${#dates.format(user.brith,'yyyy-MM')}></td>
        <td width="100" rowspan="4" align="center"><img th:src="@{'/images'+${user.img}}" width="100"></td>
    </tr>
    <tr>
        <td width="100" align="center">民族</td>
        <td width="100" align="center"></td>
        <td width="100" align="center">婚否</td>
        <td width="100" align="center"></td>
        <td width="100" align="center">政治面貌</td>
        <td width="100" align="center" th:text=${user.outlook}></td>
    </tr>
    <tr>
        <td width="100" align="center">籍贯</td>
        <td width="100" align="center"></td>
        <td width="100" align="center">学历</td>
        <td width="100" align="center" ></td>
        <td width="100" align="center">现所在地</td>
        <td width="100" align="center" th:text=${user.address}></td>
    </tr>
    <tr>
        <td width="100" align="center">毕业院校</td>
        <td width="100" colspan="2" align="center" th:text=${user.school}></td>
        <td width="100" align="center">所学专业</td>
        <td width="100" colspan="2" align="center" th:text=${user.major}></td>
    </tr>
    <tr>
        <td width="100" align="center">手机号码</td>
        <td width="100" colspan="2" align="center" th:text=${user.tel}></td>
        <td width="100" align="center">电子邮箱</td>
        <td width="100" colspan="3" align="center"></td>
    </tr>
    <tr align="center">
        <td colspan="7" bgcolor="lightgray"><b>教育经历</b></td>
    </tr>
    <tr>
        <td width="100" colspan="2" align="center">起止时间</td>
        <td width="100" colspan="2" align="center">毕业院校/教育机构</td>
        <td width="100" colspan="3" align="center">专业/课程</td>
    </tr>
    <tr>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="3"></td>
    </tr>
    <tr>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="3"></td>
    </tr>
    <tr>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="3"></td>
    </tr>
    <tr align="center">
        <td colspan="7" bgcolor="lightgray"><b>工作经历</b></td>
    </tr>
    <tr>
        <td width="100" colspan="2" align="center">起止时间</td>
        <td width="100" colspan="2" align="center">公司名称</td>
        <td width="100" colspan="3" align="center">职位</td>
    </tr>
    <tr>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="18" colspan="3"></td>
    </tr>
    <tr>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="2"></td>
        <td width="100" height="15" colspan="3"></td>
    </tr>
    <tr>
        <td width="100" height="100" colspan="2" align="center">技能</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td width="100" height="100" colspan="2" align="center">项目经验</td>
        <td colspan="5"></td>
    </tr>
    <tr>
        <td width="100" height="100" colspan="2" align="center">自我评价</td>
        <td colspan="5"></td>
    </tr>


</table>
<button style="margin-left: 600px;font-size: 20px;width:150px" >保存</button>

</body>
</html>