<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="layui-row" id="popUpdateTest">
<div class="layui-col-md10">
        <div class="layui-form-item">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-block">
                <input type="text" name="scope" autocomplete="off" disabled="disabled" class="layui-input" id="company">
                <span id="hidename" hidden></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公司介绍</label>
            <div class="layui-input-block">
                <input type="text" name="newname" required lay-verify="required" autocomplete="off"
                        class="layui-input" id="introduce">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">招聘职位</label>
            <div class="layui-input-block">
                <input type="text" name="newname" required lay-verify="required" autocomplete="off"
                        class="layui-input" id="post">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职位详情</label>
            <div class="layui-input-block">
                <input type="text" name="newname" required lay-verify="required" autocomplete="off"
                        class="layui-input" id="newname">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学历要求</label>
            <div class="layui-input-block">
                <input type="text" name="newname" required lay-verify="required" autocomplete="off"
                        class="layui-input" id="education">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">薪资</label>
            <div class="layui-input-block">
                <input type="text" name="newname" required lay-verify="required" autocomplete="off"
                        class="layui-input" id="money">
            </div>
        </div>
        <div style="margin-top:40px">
               <a href="/hello/menu"><button>关闭</button></a>
        </div>

</div>
</div>
</body>
</html>