<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Expirse" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">

    <title th:text="${charpter.getName()}"></title>
    <meta name="description" content="我要自学网-免费视频教程,提供全方位软件学习，有3D教程，平面教程，多媒体制作教程，办公信息化教程，机械设计教程，网站制作教程,电脑培训">
    <meta name="keywords" content="1-1 产品图修图流程,我要自学网,视频教程">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="https://www.51zxw.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.51zxw.net/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/X-admin/zxw/layui.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/X-admin/zxw/iconfont.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/X-admin/zxw/iconfont.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/X-admin/zxw/H-ui.min.css}" type="text/css">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/Scripts/H-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/Scripts/H-ui/lib/respond.min.js"></script>
    <link rel="stylesheet" href="/Scripts/H-ui/static/h-ui/css/H-ui.ie.css" type="text/css"/>
    <![endif]-->


    <link rel="stylesheet" th:href="@{/X-admin/zxw/public.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/X-admin/zxw/innerPage.css}" type="text/css">


    <script type="text/javascript" async="" th:src="@{/X-admin/zxw/auto_dup}"></script>
    <script type="text/javascript" async="" th:src="@{/X-admin/zxw/wsuyxub.js}"></script>
    <script charset="utf-8" type="text/javascript" th:src="@{/X-admin/zxw/show10.js}"></script>


    <script charset="utf-8" type="text/javascript" th:src="@{/X-admin/zxw/njs2.js}"></script>

    <!--默认视频线路选择-->
    <title>

    </title>
    <script type="text/javascript" th:src="@{/X-admin/zxw/Pcshare_1.2.js}"></script>
    <link id="layuicss-laydate" rel="stylesheet" th:href="@{/X-admin/zxw/laydate.css}" media="all">
    <link id="layuicss-layer" rel="stylesheet" th:href="@{/X-admin/zxw/layer.css}" media="all">
    <link id="layuicss-skincodecss" rel="stylesheet" th:href="@{/X-admin/zxw/code.css}" media="all">
    <script th:src="@{/X-admin/zxw/share.js}"></script>
    <link rel="stylesheet" th:href="@{/X-admin/zxw/share_style0_16.css}">
</head>
<body>
<div id="BAIDU_DUP_fp_wrapper"
     style="position: absolute; left: -1px; bottom: -1px; z-index: 0; width: 0px; height: 0px; overflow: hidden; visibility: hidden; display: none;">
    <iframe id="BAIDU_DUP_fp_iframe" th:src="@{/X-admin/zxw/o.html}"
            style="width: 0px; height: 0px; visibility: hidden; display: none;"></iframe>
</div>


<!--头部-->
<div class="bgb" style="position:relative;z-index:9999999">
    <div class="content-box1200" style="background-color: #414141;">
        <div class="head">
            <div class="commonLogo"></div>
            <div class="headLinks ml-10">
                <a href="https://www.51zxw.net/">首页</a>
                <div id="courseTypes"
                     style="height: 58px; line-height: 58px; display: inline-block; font-size: 16px; color: #fff; margin: 0px 10px"
                     class="pos-r">
                    <span>课程分类 <i class="Hui-iconfont Hui-iconfont-arrow2-top"></i></span>
                    <ul class="courseTypes">
                        <li style="border-radius: 5px 5px 0px 0px;"><a
                                href="https://www.51zxw.net/List.aspx?cid=3">电脑办公</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=8">平面设计</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=14">室内设计</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=390">室外设计</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=28">影视动画</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=35">机械设计</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=471">工业自动</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=451">程序开发</a></li>
                        <li><a href="https://www.51zxw.net/List.aspx?cid=18">网页设计</a></li>
                        <li style="border-radius: 0px 0px 5px 5px;"><a href="https://www.51zxw.net/List.aspx?cid=351">会计课程</a>
                        </li>
                    </ul>
                </div>
                <a target="_blank">远程班培训</a>
                <a  target="_blank">商城</a>
            </div>
            <div class="search ml-10">
                <form id="webSearchForm" action="https://www.51zxw.net/NewAn/WebSearch/Course" method="post"
                      novalidate="novalidate">
                    <input type="text" id="keyWordsT" placeholder="课程太多? 搜一搜">
                    <input type="hidden" id="keyWordsH" name="keyWords">
                    <button type="submit"><i class="Hui-iconfont Hui-iconfont-search2"></i></button>
                </form>
            </div>

            <div class="user pos-r">

                <a href="https://www.51zxw.net/login">登录/注册</a>
            </div>
            <a target="_blank" class="help" href="https://www.51zxw.net/newan/helpcenter">帮助中心</a>

            <div style="clear: both"></div>
        </div>
    </div>
</div>


<!--网站路径-->
<div class="ggb" style="position: relative; z-index: 3">
    <div class="content-box1200" style="background-color: #e7e7e7;">
        <div class="webPath">
            <a href="https://www.51zxw.net/Default.aspx">首页</a>

          <a
                href="https://www.51zxw.net/List.aspx?cid=8" th:text="${charpter.getName()}"></a>

<!--            <i class="Hui-iconfont Hui-iconfont-arrow2-right"></i><a href="https://www.51zxw.net/List.aspx?cid=875">PS服装产品修图视频教程</a>-->


        </div>
    </div>
</div>

<div class="ggb pb-20">
    <div class="content-box1200">
        <div class="videoInfo">
            <div class="info" style="position: relative; z-index: 1000000;">
                <span class="f-16" th:text="${charpter.getName()}"></span>
                <span class="f-14 ml-15" style="color: #6b6b6b;">已有 <b class="c-danger">847</b> 人学过</span>
                <div class="shareAndfollow">

                    <div class="bdsharebuttonbox va-m mr-10 bdshare-button-style0-16" style="display: inline-block"
                         data-bd-bind="1600243828095">
                        <a href="javascript:;" class="bds_more" data-cmd="more"><i
                                class="Hui-iconfont Hui-iconfont-share"></i>分享</a>
                    </div>

                    <a id="courseLike" href="javascript:;" class="like va-m" data-cid="875"><i
                            class="Hui-iconfont Hui-iconfont-like va-m"></i><span class="va-m">关注</span></a>
                </div>
                <a href="javascript:;" class="openOnPhone" id="viewOnPhone">
                    <span style="margin-right: 3px;"></span>手机观看
                    <div class="QRcore"></div>
                </a>
            </div>

            <input type="hidden" id="tn" name="tn" value="1">

            <!-- 多条广告如下脚本只需引入一次 -->
            <script type="text/javascript" th:src="@{/X-admin/zxw/c.js}" async="async" defer="defer"></script>

            <div class="player">
                <div id="video"
                     style="width: 1000px; height: 600px; float: left; background-color: rgb(0, 0, 0); overflow: hidden; position: relative;">
                    <div class="zxwplayerchitmbghbpwieznvzz"
                         style="background-color: rgb(0, 0, 0); width: 100%; height: 100%;">
                        <video id="chamvfqlwvvixmhkjh" width="100%" height="100%"
                               style="width: 100%; height: 90%; background-color: rgb(0, 0, 0);"
                               th:src="${url}" controls="controls"></video>
<!--                        <video  width="600" height="450" controls="controls" style="margin-left: 100px" id="oneVideo"  th:src="${url}">-->
                        </video>

                        <div class="controlbgbarchhqkqyeirru"
                             style="width: 100%; height: 38px; background-color: rgb(0, 0, 0); position: absolute; bottom: 0px; opacity: 0.8; z-index: 990; display: block;"></div>
                        <div class="controlbarchhqkqyeirru"
                             style="width: 100%; height: 38px; position: absolute; bottom: 0px; z-index: 990; display: block;">

                            <div class="dlinechhqkqyeirru-la"
                                 style="width: 0px; height: 38px; overflow: hidden; border-left: 1px solid rgb(48, 48, 48); border-right: 1px solid rgb(21, 21, 21); opacity: 0.9; float: left;"></div>
                            <div class="frontchhqkqyeirru" data-title="上一集"
                                 style="width: 38px; height: 38px; float: left; overflow: hidden; cursor: pointer; display: none;">
                                <canvas class="frontchhqkqyeirru-canvas" width="38" height="38"></canvas>
                            </div>
                            <div class="dlinechhqkqyeirru-lb"
                                 style="width: 0px; height: 38px; overflow: hidden; border-left: 1px solid rgb(48, 48, 48); border-right: 1px solid rgb(21, 21, 21); opacity: 0.9; float: left; display: none;"></div>
                            <div class="nextchhqkqyeirru" data-title="下一集"
                                 style="width: 38px; height: 38px; float: left; overflow: hidden; cursor: pointer; display: none;">
                                <canvas class="nextchhqkqyeirru-canvas" width="38" height="38"></canvas>
                            </div>

                            <div class="mutechhqkqyeirru" data-title="点击静音"
                                 style="width: 38px; height: 38px; float: right; overflow: hidden; cursor: pointer; display: block;">
                                <canvas class="mutechhqkqyeirru-canvas" width="38" height="38"></canvas>
                            </div>
                            <div class="escmutechhqkqyeirru" data-title="取消静音"
                                 style="width: 38px; height: 38px; float: right; overflow: hidden; cursor: pointer; display: none;">
                                <canvas class="escmutechhqkqyeirru-canvas" width="38" height="38"></canvas>
                            </div>
                            <div class="dlinechhqkqyeirru-re"
                                 style="width: 0px; height: 38px; overflow: hidden; border-left: 1px solid rgb(48, 48, 48); border-right: 1px solid rgb(21, 21, 21); opacity: 0.9; float: right;"></div>
                            <div class="videoNoteschhqkqyeirru" data-title="点击添加笔记"
                                 style="height: 38px; line-height: 38px; float: right; overflow: hidden; cursor: pointer; display: block; color: rgb(255, 255, 255); padding: 0px 5px; font-size: 14px;">
                                笔记
                            </div>
                            <div class="dlinechhqkqyeirru-rf"
                                 style="width: 0px; height: 38px; overflow: hidden; border-left: 1px solid rgb(48, 48, 48); border-right: 1px solid rgb(21, 21, 21); opacity: 0.9; float: right;"></div>
                        </div>
                        <div class="timeprogressbgchhqkqyeirru"
                             style="width: 100%; height: 6px; background-color: rgb(63, 63, 63); overflow: hidden; position: absolute; bottom: 38px; z-index: 888; display: block;">
                            <div class="loadprogresschhqkqyeirru"
                                 style="width: 52px; height: 6px; position: absolute; bottom: 38px; top: 0px; z-index: 991; background-color: rgb(111, 111, 111);"></div>
                            <div class="timeprogresschhqkqyeirru"
                                 style="width: 0px; height: 6px; position: absolute; bottom: 38px; top: 0px; z-index: 991; background-color: rgb(172, 206, 34);"></div>
                        </div>
                        <div class="timebobgchhqkqyeirru"
                             style="width: 100%; height: 14px; overflow: hidden; position: absolute; bottom: 34px; cursor: pointer; z-index: 992; display: block;">
                            <div class="timebochhqkqyeirru"
                                 style="width: 14px; height: 14px; overflow: hidden; border-radius: 50%; background-color: rgb(255, 255, 255); cursor: pointer; position: absolute; top: 0px; z-index: 200; left: 0px;">
                                <div class="timebwchhqkqyeirru"
                                     style="width: 8px; height: 8px; overflow: hidden; border-radius: 50%; position: absolute; background-color: rgb(172, 206, 34); left: 3px; top: 3px;"></div>
                            </div>
                        </div>
                        <div class="promptbgchhqkqyeirru"
                             style="height: 30px; line-height: 30px; color: rgb(255, 255, 255); font-size: 14px; text-align: center; position: absolute; border-radius: 5px; padding-left: 5px; padding-right: 5px; bottom: 0px; display: none; z-index: 995; background-color: rgb(0, 0, 0); opacity: 0.5;"></div>
                        <div class="promptchhqkqyeirru"
                             style="height: 30px; line-height: 30px; color: rgb(255, 255, 255); font-size: 14px; text-align: center; position: absolute; border-radius: 5px; padding-left: 5px; padding-right: 5px; bottom: 0px; display: none; z-index: 995;"></div>
                        <div class="definitionpchhqkqyeirru"
                             style="line-height: 30px; color: rgb(255, 255, 255); overflow: hidden; position: absolute; bottom: 4px; background-color: rgb(0, 0, 0); text-align: center; z-index: 997; cursor: pointer; display: none; width: 100px;">
                            <p style="color: rgb(172, 206, 34); margin: 0px; padding: 0px; font-size: 14px; border-bottom: 1px solid rgb(40, 40, 40);">
                                电信线路1</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; border-bottom: 1px solid rgb(40, 40, 40);">
                                电信线路2</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; border-bottom: 1px solid rgb(40, 40, 40);">
                                联通线路1</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; border-bottom: 1px solid rgb(40, 40, 40);">
                                联通线路2</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; border-bottom: 1px solid rgb(40, 40, 40);">
                                移动线路</p>
                            <p style="color: rgb(172, 206, 34); margin: 0px; padding: 0px; font-size: 14px;">电信线路1</p>
                        </div>
                        <div class="playbackratepchhqkqyeirru"
                             style="line-height: 30px; color: rgb(255, 255, 255); overflow: hidden; position: absolute; bottom: 4px; background-color: rgb(0, 0, 0); text-align: center; z-index: 997; cursor: pointer; display: none; width: 60px;">
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                3X</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                2.5X</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                2X</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                1.5X</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                1.25X</p>
                            <p style="color: rgb(172, 206, 34); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                倍速</p>
                            <p style="color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 14px; text-align: center; border-bottom: 1px solid rgb(40, 40, 40);">
                                0.75X</p>
                            <p style="color: rgb(172, 206, 34); margin: 0px; padding: 0px; font-size: 14px; text-align: center;">
                                倍速</p></div>
                        <div class="subtitlespchhqkqyeirru"
                             style="line-height: 30px; color: rgb(255, 255, 255); overflow: hidden; position: absolute; bottom: 4px; background-color: rgb(0, 0, 0); text-align: center; z-index: 995; cursor: pointer; display: none;"></div>
                        <div class="pausecenterchhqkqyeirru"
                             style="width: 80px; height: 80px; border-radius: 50%; position: absolute; display: block; cursor: pointer; z-index: 996; left: 828px; top: 416px;">
                            <canvas class="pausecenterchhqkqyeirru-canvas" width="80" height="80"></canvas>
                        </div>
                        <div class="loadingchhqkqyeirru"
                             style="width: 60px; height: 60px; position: absolute; display: none; z-index: 996; left: 470px; top: 270px;">
                            <canvas class="loadingchhqkqyeirru-canvas" width="60" height="60"
                                    style="transform: rotate(0deg);"></canvas>
                        </div>
<!--                        <div class="errortextchhqkqyeirru"-->
<!--                             style="width: 280px; height: 30px; line-height: 30px; color: rgb(255, 255, 255); font-size: 14px; text-align: center; position: absolute; display: none; z-index: 996; cursor: default; left: 360px; top: 345px;">-->
<!--                            加载出错-->
<!--                        </div>-->
                        <div class="logochhqkqyeirru"
                             style="height: 30px; line-height: 30px; color: rgb(255, 255, 255); font-family: Arial; font-size: 28px; text-align: center; position: absolute; float: left; left: 980px; top: 20px; z-index: 996; opacity: 0.8; cursor: default;"></div>
                        <div class="backgroundchhqkqyeirru"
                             style="width: 100%; height: 100%; background-color: rgb(0, 0, 0); position: absolute; top: 0px; z-index: 997; display: none;"></div>
                        <div class="adelementchhqkqyeirru"
                             style="position: absolute; overflow: hidden; top: 145px; z-index: 998; display: none; left: 265px; width: 470px; height: 310px;">
                            <a href="https://ibaotu.com/guanggao/1-100-0-0-3-1.html?spm=Tu&amp;utm_source=BD&amp;utm_medium=%E6%88%91%E8%A6%81%E8%87%AA%E5%AD%A6%E7%BD%91&amp;utm_term=%E8%AE%BE%E8%AE%A1"
                               target="_blank"><img th:src="@{/X-admin/zxw/baotu3.jpg}" class="adimgchofzhtcodbv"
                                                    style="width: 470px; height: 310px; border: 0px;"></a></div>

                        <div class="adlinkchhqkqyeirru"
                             style="background-color: rgb(234, 85, 3); line-height: 30px; color: rgb(255, 255, 255); padding-left: 10px; padding-right: 10px; position: absolute; overflow: hidden; bottom: 10px; right: 10px; z-index: 999; display: none;">
                            <a href="https://ibaotu.com/guanggao/1-100-0-0-3-1.html?spm=Tu&amp;utm_source=BD&amp;utm_medium=%E6%88%91%E8%A6%81%E8%87%AA%E5%AD%A6%E7%BD%91&amp;utm_term=%E8%AE%BE%E8%AE%A1"
                               target="_blank" class="ckadmorelink"
                               style="color: rgb(255, 255, 255); text-decoration: none;">查看详情</a></div>
                        <div class="adpauseclosechhqkqyeirru"
                             style="background-color: rgb(247, 247, 247); height: 20px; position: absolute; overflow: hidden; z-index: 999; top: 60px; left: 30px; border-radius: 20px; display: none; cursor: pointer;">
                            <canvas class="adpauseclosechhqkqyeirru-canvas" width="20" height="20"></canvas>
                        </div>
                    </div>
                </div>
                <div class="quickCatalog">
                    <div class="catalog"><a class="videoNotes"><i
                            class="Hui-iconfont Hui-iconfont-feedback1 f-22"></i><br>笔记</a> <a class="show"><span>课<br>程<br>目<br>录<br></span><i
                            class="Hui-iconfont Hui-iconfont-arrow2-left"></i></a></div>
                </div>
<!--                <div id="ad1" style="float:right">-->
<!--                    <div id="_optdq2vwc8" style="">-->
<!--                        <iframe width="160" frameborder="0" height="600" scrolling="no"-->
<!--                                src="./1-1 产品图修图流程-我要自学网_files/s.html"></iframe>-->
<!--                        <ins style="display:none;"></ins>-->
<!--                    </div>-->
<!--                    <script type="text/javascript" th:src="@{/X-admin/zxw/j_vjj_om_m.js}"></script>-->
<!--                </div>-->
            </div>
            <script type="text/javascript" th:src="@{/X-admin/zxw/fzsplugin1.10.js}"></script>
<!--            <script type="text/javascript">-->
<!--                var videoObject = {-->
<!--                    container: '#video',-->
<!--                    variable: 'H5player',-->
<!--                    video: 'website:/getvutf.asp?cid=875&vid=1-1&cdata=242381269908342&ckcode=77e1623a3767b892ecc10fe81524114f'-->
<!--                };-->
<!--                window.H5player = new zxwplayer(videoObject);-->
<!--            </script>-->


            <div class="controls">

                <a class="c-999 disabled" href="javascript:;"><i class="Hui-iconfont Hui-iconfont-arrow1-left"></i> 上一节</a>


                <span style="width: 1px; height: 20px; background-color: #000; display: inline-block; vertical-align: middle"></span>


                <a href="https://www.51zxw.net/Show.aspx?cid=875&amp;id=98014"><i
                        class="Hui-iconfont Hui-iconfont-arrow1-right"></i> 下一节</a>

                <a href="javascript:;" class="btn btn-primary size-M f-16"><i
                        class="Hui-iconfont Hui-iconfont-add2 f-20 va-m"></i>切换线路</a>

                <a href="https://www.51zxw.net/NewAn/HelpCenter/ShowDocument?classId=1&amp;typeId=3&amp;qId=144"
                   target="_blank"><i class="Hui-iconfont Hui-iconfont-help"></i>无法播放教程，怎么办？&lt;--点我</a>

                <a target="_blank" href="https://wen.51zxw.net/Question?vid=98013&amp;cid=875"
                   class="askTeacher">请教教师</a>
            </div>
        </div>
    </div>
</div>
<div class="menuchhqkqyeirru"
     style="background-color: rgb(255, 255, 255); padding: 5px; position: absolute; left: 10px; top: 20px; display: none; z-index: 999; color: rgb(161, 169, 190); box-shadow: rgb(170, 170, 170) 2px 2px 3px;">
    <p style="height: 30px; line-height: 30px; margin: 0px; font-size: 12px; padding-left: 10px; padding-right: 30px;">
        <a href="http://www.51zxw.net/" undefined="" style="color: rgb(0, 0, 0); text-decoration: none;">我要自学网</a></p>
    <p style="height: 30px; line-height: 30px; margin: 0px; font-size: 12px; padding-left: 10px; padding-right: 30px; border-bottom: 1px solid rgb(233, 233, 233);">
        51zxwplayer 1.1</p></div>

<div style="clear: both;"></div>

<!--&lt;!&ndash;主体内容&ndash;&gt;-->
<!--<div class="content-box1200">-->


<!--    <div class="leftSize">-->

<!--        <div id="CommentPoint" class="wbg pos-r" style="min-height: 400px;">-->

<!--            <div class="tab">-->

<!--                <a target="_blank" href="https://www.51zxw.net/List.aspx?cid=875">课程目录</a>-->

<!--                <span class="va-m"></span><a target="_blank" href="https://www.51zxw.net/Material.aspx?cid=875">课程素材</a>-->

<!--                <span class="va-m"></span>-->
<!--                <a class="checked">课程评价</a>-->

<!--            </div>-->

<!--            <div class="comment mt-20">-->
<!--                <div class="details">-->
<!--                    <span class="c-danger">1</span> 条评论-->

<!--                    <a href="javascript:;" class="f-14 ml-20 c-999 checked"><i-->
<!--                            class="Hui-iconfont Hui-iconfont-xuanzhong"></i>按热度排序</a>-->

<!--                    <a href="javascript:;" class="f-14 ml-20 c-999"><i class="Hui-iconfont Hui-iconfont-xuanzhong"></i>按时间排序</a>-->

<!--                    <span class="charNum" style="display: inline-block; color: #333; margin-left: 20px;">-->
<!--                            <label style="width: 30px; display: inline-block; text-align: right; font-size: 12px;">0</label>/350-->
<!--                        </span>-->
<!--                </div>-->
<!--                <div class="formEdit">-->
<!--                    <form id="commentForm">-->
<!--                        <textarea style="width: 80%; padding-bottom: 30px;"-->
<!--                                  class="textarea radius va-m mr-10 c-333"></textarea>-->
<!--                        <a class="faceIconBtn"><i class="Hui-iconfont Hui-iconfont-face2"></i>添加表情</a>-->
<!--                        <div class="faceIcons hide">-->
<!--                            <div class="iconType">-->
<!--                                <a class="iconSelect checked">默认</a>-->

<!--                                <a class="f-r mr-5"><i class="Hui-iconfont Hui-iconfont-close"></i></a>-->
<!--                            </div>-->
<!--                            <div class="iconItem">-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <button type="button" class="f-16 c-white ml-10"-->
<!--                                style="background-color: #00aeff; width: 65px; height: 65px; border-radius: 50%; border: none; cursor: pointer;">-->
<!--                            发 表-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--                <div class="f-12 c-999"-->
<!--                     style="display: inline-block; height: 100px; width: 225px; vertical-align: middle; letter-spacing: 1px; text-align: left">-->
<!--                    遵守中华人民共和国的各项道德法规，<br>-->
<!--                    承担因您的行为而导致的法律责任，<br>-->
<!--                    本站有权保留或删除有争议评论。<br>-->
<!--                    参与本评论即表明您已经阅读并接受<br>-->
<!--                    上述条款。-->
<!--                </div>-->
<!--            </div>-->

<!--            <table class="table table-striped commentList mt-20">-->
<!--                <tbody>-->

<!--                <tr>-->
<!--                    <td class="text-c va-t" width="13%" height="100">-->
<!--                        <div class="avatar"><img th:src="@{/X-admin/zxw/cy/14.png}"></div>-->
<!--                    </td>-->
<!--                    <td class="va-t pos-r" style="width: 87%">-->
<!--                        <div class="c-primary userName">samohu-->
<!--                            <a class="showAll f-r" href="javascript:;" style="display: none;">展开 <i-->
<!--                                    class="Hui-iconfont Hui-iconfont-arrow2-bottom"></i></a>-->
<!--                        </div>-->
<!--                        <div class="commentText">-->
<!--                            <div class="content">-->
<!--                                <div>坐沙发，全网唯一的java教程，加油，支持张老师。</div>-->
<!--                            </div>-->
<!--                            <div class="remarkInfo">-->
<!--                                <div class="date va-m">2020年09月16日 14:22</div>-->
<!--                                <a href="javascript:;" data-rid="1729741" class="praise va-m"><i-->
<!--                                        class="Hui-iconfont Hui-iconfont-zan2 f-18"></i> <span class="f-14">0</span></a>-->
<!--                                <a href="javascript:;" data-rid="1729741" class="reply va-m">回复</a>-->
<!--                                <a href="javascript:;" data-rid="1729741" class="report va-m"></a>-->
<!--                            </div>-->

<!--                            <div data-replyid="1729764" class="replyBody">-->
<!--                                <div class="avatar"><img src="./1-1 产品图修图流程-我要自学网_files/avatar2.png"></div>-->
<!--                                <div class="replyRight">-->
<!--                                    <div class="c-primary userName">破图课堂-->
<!--                                        <span class="isAuthor">讲师</span>-->
<!--                                        <a class="showAll f-r show" href="javascript:;" style="display: none;">展开 <i-->
<!--                                                class="Hui-iconfont Hui-iconfont-arrow2-bottom"></i></a>-->
<!--                                    </div>-->
<!--                                    <div class="content">-->
<!--                                        <div>感谢支持，最重要的是能够帮助到你，教程都是从实战工作中总结出来的经验，以易懂的方式给大家讲解，就是为了大家更快速更直接掌握这方面的技能，一起加油。-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="remarkInfo">-->
<!--                                    <div class="date va-m">2020年09月16日 14:58</div>-->
<!--                                    <a href="javascript:;" data-rid="1729741" data-at="20483455"-->
<!--                                       class="reply va-m">@TA</a>-->
<!--                                    <a href="javascript:;" data-rid="1729764" class="report va-m"></a>-->
<!--                                </div>-->
<!--                                <div style="clear: both;"></div>-->
<!--                            </div>-->

<!--                            <div class="loadmore hide"><a data-rid="1729741" data-pageindexr="1" href="javascript:; ">已到底啦~没有更多回复</a>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->


<!--                </tbody>-->
<!--            </table>-->

<!--            <div class="pages mt-40" style="position: static; margin-top: 40px;">-->
<!--                <div id="pages">-->
<!--                    <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1"><span-->
<!--                            class="layui-laypage-count">共 1 条</span><a href="javascript:;"-->
<!--                                                                       class="layui-laypage-prev layui-disabled"-->
<!--                                                                       data-page="0">上一页</a><span-->
<!--                            class="layui-laypage-curr"><em class="layui-laypage-em"-->
<!--                                                           style="background-color:#00aeff;"></em><em>1</em></span><a-->
<!--                            href="javascript:;" class="layui-laypage-next layui-disabled" data-page="2">下一页</a><span-->
<!--                            class="layui-laypage-skip">到第<input type="text" min="1" value="1" class="layui-input">页<button-->
<!--                            type="button" class="layui-laypage-btn">确定</button></span></div>-->
<!--                </div>-->
<!--            </div>-->



<!--        </div>-->

<!--    </div>-->

<!--    <div class="rightSize">-->
<!--        <div class="other wbg">-->
<!--            <div class="title f-16 mb-10">-->
<!--                相关推荐-->
<!--            </div>-->

<!--            <a href="https://www.51zxw.net/List.aspx?cid=874" class="recommend">-->
<!--                <div class="coursePic"><img title="版式设计视频教程" src="./1-1 产品图修图流程-我要自学网_files/874.jpg"></div>-->
<!--                <div class="courseInfo"><p class="f-12 c-999"><span>共<span-->
<!--                        class="c-danger">20</span>小节</span><span>已有<span class="c-danger">7211</span>人学过</span></p>-->
<!--                </div>-->
<!--            </a><a href="https://www.51zxw.net/List.aspx?cid=859" class="recommend">-->
<!--            <div class="coursePic"><img title="PS手绘板绘精通视频教程" src="./1-1 产品图修图流程-我要自学网_files/859.jpg"></div>-->
<!--            <div class="courseInfo"><p class="f-12 c-999"><span>共<span class="c-danger">57</span>小节</span><span>已有<span-->
<!--                    class="c-danger">109178</span>人学过</span></p></div>-->
<!--        </a><a href="https://www.51zxw.net/List.aspx?cid=844" class="recommend">-->
<!--            <div class="coursePic"><img title="PhotoshopCC2020视频教程" src="./1-1 产品图修图流程-我要自学网_files/844.jpg"></div>-->
<!--            <div class="courseInfo"><p class="f-12 c-999"><span>共<span class="c-danger">169</span>小节</span><span>已有<span-->
<!--                    class="c-danger">232389</span>人学过</span></p></div>-->
<!--        </a><a href="https://www.51zxw.net/List.aspx?cid=808" class="recommend">-->
<!--            <div class="coursePic"><img title="CLO 3D服装设计教程" src="./1-1 产品图修图流程-我要自学网_files/808.jpg"></div>-->
<!--            <div class="courseInfo"><p class="f-12 c-999"><span>共<span class="c-danger">74</span>小节</span><span>已有<span-->
<!--                    class="c-danger">33930</span>人学过</span></p></div>-->
<!--        </a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div style="clear: both"></div>-->
<!--</div>-->

<script th:src="@{/X-admin/zxw/videojs-contrib-hls-min.js}"></script>


<script charset="utf-8" th:src="@{/X-admin/zxw/faceIconConfig.js}" type="text/javascript"></script>
<script charset="utf-8" th:src="@{/X-admin/zxw/moment.js}" type="text/javascript"></script>



</body>
</html>