<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.AdminMapper">

    <!--    获取2.6.4.1.2-->
    <select id="getUserByAdmin" resultType="com.person.bean.UserInfo">
        select u.id,u.account,u.pwd,u.name,u.sex,u.age,u.tel,u.address,u.jobstate,c.birthday,c.specialty,s.name as schoolName
        from t_user u
        inner join t_CV c on u.id = c.userid
        inner join t_school s ON s.id = c.schoolid
        <where>
            <if test="condition.beginDate != null ">AND c.birthday <![CDATA[>=]]> STR_TO_DATE(#{condition.beginDate},'%Y-%m-%d')</if>
            <if test="condition.endDate != null ">AND c.birthday <![CDATA[<=]]> STR_TO_DATE(#{condition.endDate},'%Y-%m-%d')</if>
            <if test="condition.schoolName != null "> AND s.schoolName like CONCAT('%',#{condition.schoolName},'%')</if>
            <if test="condition.specialty != null ">AND c.specialty like CONCAT('%',#{condition.specialty},'%')</if>
        </where>
        limit #{page},#{limit}
    </select>
    <!--    获取2.6.4.1.2-->
    <select id="getUserByAdminOfNum" resultType="java.lang.Integer">
        select count(u.id)
        from t_user u
        inner join t_CV c on u.id = c.userid
        inner join t_school s ON s.id = c.schoolid
        <where>
            <if test="condition.beginDate != null">AND c.birthday <![CDATA[>=]]> STR_TO_DATE(#{condition.beginDate},'%Y-%m-%d')</if>
            <if test="condition.endDate != null">AND c.birthday <![CDATA[<=]]> STR_TO_DATE(#{condition.endDate},'%Y-%m-%d')</if>
            <if test="condition.schoolName != null"> AND s.name like CONCAT('%',#{condition.schoolName},'%')</if>
            <if test="condition.specialty != null">AND c.specialty like CONCAT('%',#{condition.specialty},'%')</if>
        </where>
    </select>
    <select id="getParamList" resultType="com.person.bean.Params">
        select id,value,type,name,state from t_param  where state='true'

        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>
        limit #{start},#{pageSize}
    </select>
    <select id="getParamListCount" resultType="int">
        select count(*) from t_param  where state='true'

        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="type!=null and type!=''">
            and type=#{type}
        </if>

    </select>
    <select id="paramsTypeList" resultType="java.lang.String">
        select distinct  type from t_param
    </select>
</mapper>