<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.KnowMapper">
    <select id="getKnowMsg" resultType="com.person.bean.Menu">
        select m1.state,m1.id,p.name as scope,m1.menuname,(case when m2.menuname is null then '无' else m2.menuname
        end) as upmenu from t_knowmenu m1 left join t_knowmenu m2
        on m1.pid=m2.id left join t_param p on p.value=m1.scope and p.type='领域' where 1=1
         <if test="title!=null and title!=''">
             and m1.menuname like concat('%',#{title},'%')
         </if>
         <if test="scope!=null and scope!=''">
             and p.name=#{scope}
         </if>
         limit #{page},#{limit}
    </select>
    <select id="findCount" resultType="java.lang.Integer">
        select count(*) from(
        select m1.id,p.name as scope,m1.menuname,(case when m2.menuname is null then '无' else m2.menuname
        end) as upmenu from t_knowmenu m1 left join t_knowmenu m2
        on m1.pid=m2.id left join t_param p on p.value=m1.scope and p.type='领域'
        <if test="title!=null and title!=''">
            and m1.menuname like concat('%',#{title},'%')
        </if>
        <if test="scope!=null and scope!=''">
            and p.name=#{scope}
        </if>
        ) c
    </select>
    <select id="addselect" resultType="com.person.bean.Params">
        select name from t_param where type='领域'
    </select>
    <update id="delKnow">
        update t_knowmenu set state=1 where id=#{id}
    </update>
    <select id="findScope" resultType="java.lang.String">
        select value from t_param where type='领域' and name=#{scope}
    </select>
    <insert id="addKnow">
        insert into t_knowmenu (menuname,url,pid,scope,state) values (#{menuname},"0",#{pid},#{scope},0)
    </insert>
    <update id="fixKnow">
        update t_knowmenu set scope=#{scope},menuname=#{menuname} where id=#{id}
    </update>
    <select id="findCourse" resultType="com.person.bean.Menu">
        select menuname from t_knowmenu where menuname=#{menuname} and scope=#{scope} and pid="0"
    </select>
    <select id="findScopeParmas" resultType="com.person.bean.Params">
        select type,name from t_param where type='领域' and name=#{scope}
    </select>
    <select id="findMaxValue" resultType="java.lang.String">
        select max(value) from t_param where type=#{scope}
    </select>
    <insert id="addScopeParam">
        insert into t_param (type,name,value) values ('领域',#{scope},#{maxValue})
    </insert>
    <insert id="addKnowmenu">
        insert into t_knowmenu (menuname,url,pid,state,detial,scope) values (#{menuname},'0','0','0',#{detial},#{value})
    </insert>
    <select id="findCharpter" resultType="com.person.bean.Charpter">
        select (@i:=@i+1)pm,c.id,c.state,p.name as scope,m1.menuname,c.name,m2.menuname as menuname1 from t_knowmenu m1 left join t_knowmenu m2 on m1.pid=m2.id
        left join t_param p on p.value=m1.scope and p.type='领域' left join t_charpters c
        on m1.id=c.menuname,(select @i:=0)t  where m1.pid!=0 and c.name!='' and m1.state!=1
        <if test="title!=null and title!=''">
            and c.name like concat('%',#{title},'%')
        </if>
        <if test="scope!=null and scope!=''">
            and p.name=#{scope}
        </if>
        limit #{page},#{limit}
    </select>
    <select id="findCharpterCount" resultType="java.lang.Integer">
        select count(*)  from t_knowmenu m1 left join t_knowmenu m2 on m1.pid=m2.id
        left join t_param p on p.value=m1.scope and p.type='领域' left join t_charpters c
        on m1.id=c.menuname,(select @i:=0)t  where m1.pid!=0 and c.name!='' and m1.state!=1
        <if test="title!=null and title!=''">
            and c.name like concat('%',#{title},'%')
        </if>
        <if test="scope!=null and scope!=''">
            and p.name=#{scope}
        </if>
    </select>
    <update id="delCharpter">
        update t_charpters set state='1' where id=#{id}
    </update>
    <select id="seeCharpter" resultType="com.person.bean.Charpter">
        select id,menuname,name,classtime,detial,url,state from t_charpters where id=#{id}
    </select>
    <update id="setCharpter">
        update t_charpters set classtime=#{classTime},detial=#{introduce},url=#{url} where id=#{id}
    </update>
    <select id="findUrl" resultType="java.lang.String">
        select url from t_charpters where id=#{id}
    </select>
    <select id="findProduct" resultType="com.person.bean.Product">
        select (@i:=@i+1)pm,t_product.id,product,start,over,p.name as publisher,p1.name as teacher,p2.name as scope,
        t_product.state,picture,detial from t_product left join t_param p on p.value=t_product.publisher
        left join t_param p1 on p1.value=t_product.teacher left join t_param p2 on
        p2.value=t_product.scope,(select @i:=0)t where p.type='发布者'and p1.type='讲师'
        and p2.type='领域'
        <if test="state!=null and state!=''">
            and t_product.state=#{state}
        </if>
        <if test="scope!=null and scope!=''">
            and p2.name=#{scope}
        </if>
        limit #{page},#{limit}
    </select>
    <select id="findProductCount" resultType="java.lang.Integer">
        select count(*) from t_product left join t_param p on p.value=t_product.publisher
        left join t_param p1 on p1.value=t_product.teacher left join t_param p2 on
        p2.value=t_product.scope where p.type='发布者'and p1.type='讲师'
        and p2.type='领域'
        <if test="state!=null and state!=''">
            and t_product.state=#{state}
        </if>
        <if test="scope!=null and scope!=''">
            and p2.name=#{scope}
        </if>
    </select>
    <update id="changeState">
        update t_product set state=#{state} where id=#{id}
    </update>
    <select id="teacherSel" resultType="com.person.bean.Params">
        select name from t_param where type ='讲师'
    </select>
    <select id="findTeacherParam" resultType="java.lang.String">
        select value from t_param where type='讲师' and name=#{teacher}
    </select>
    <update id="setProduct">
        update t_product set product=#{product},start=#{startOne},over=#{overOne},teacher=#{teacher},scope=#{scope},picture=#{picture},detial=#{detial} where id=#{id}
    </update>
    <select id="findknowMenu" resultType="com.person.bean.Menu">
        select id,menuname,url,pid from t_knowmenu where pid=#{pid}
    </select>
    <select id="getTwoCharpter" resultType="com.person.bean.Menu">
        select id,menuname from t_knowmenu where pid=#{id}
    </select>
    <select id="getTwoCharpterCount" resultType="java.lang.Integer">
        select count(*) from t_knowmenu where pid=#{id}
    </select>
    <select id="findKnowmenuName" resultType="java.lang.String">
        select menuname from t_knowmenu where id=#{id}
    </select>
    <select id="findMenunamebyid" resultType="com.person.bean.Menu">
        select id,name as menuname from t_charpters where menuname=#{id}
    </select>
    <select id="findOneMenu" resultType="com.person.bean.Menu">
        select c.id,c.name as menuname from t_charpter_product cp,t_charpters c where cp.charpterid=c.id and cp.productid=#{id}
    </select>
    <delete id="delAllMenu">
        delete from t_charpter_product where charpterid in( select id from t_charpters where menuname in(select menuname from t_charpters where id=#{id}))
    </delete>
    <insert id="addMenu">
        insert into t_charpter_product (charpterid,productid) values (#{charpterID},#{productID})
    </insert>
    <insert id="addTeacher">
        insert into t_param (value,name,type) values (#{value},#{teacher},'讲师')
    </insert>
    <insert id="addProduct">
        insert into t_product (product,start,over,publisher,teacher,scope,picture,detial,state) values
        (#{product},#{start},#{over},#{publisher},#{teacher},#{scope},#{picture},#{detial},'启用')
    </insert>
</mapper>