<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.MenuMapper">
<!--查找个人中心的菜单-->
    <select id="getMenu" resultType="com.person.bean.Menu">
        select * from t_menu where pid=0
    </select>


</mapper>