<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.UserMapper">

    <select id="getUser" resultType="com.person.bean.User">
         select * from t_user where account=#{account} and pwd=#{pwd} limit 1
    </select>
    <insert id="addUser"  >
         insert into t_user (account,pwd,name,sex,age,tel,address) values (#{account},#{pwd},#{name},#{sex},#{age},#{tel},#{address});
    </insert>
    <select id="checkAccount" resultType="java.lang.String" >
          select account from t_user where account=#{account};
    </select>
    <select id="checkSex" resultType="java.lang.String">
         SELECT VALUE from t_param where name=#{name};
    </select>
    <select id="getFeedback" resultType="com.person.bean.Feedback" parameterType="hashmap">
        select * from t_feedback where userid=#{userid}
        <if test="map.industry!=null and map.industry!=''">
            and industry like concat ('%',#{map.industry},'%')
        </if>
        <if test="map.post!=null and map.post!=''">
            and post like concat ('%',#{map.post},'%')
        </if>
        limit #{map.startL},#{map.endL};

    </select>
    <select id="findCount" resultType="java.lang.Integer">
       select count(*) from t_feedback where userid=#{userid}
        <if test="map.industry!=null and map.industry!=''">
            and industry like concat ('%',#{map.industry},'%')
        </if>
        <if test="map.post!=null and map.post!=''">
            and post like concat ('%',#{map.post},'%')
        </if>
    </select>
    <select id="getCollect" resultType="com.person.bean.Collect" parameterType="hashmap">
        select * from t_collect where userid=#{userid}
        <if test="map.industry!=null and map.industry!=''">
            and industry like concat ('%',#{map.industry},'%')
        </if>
        <if test="map.post!=null and map.post!=''">
            and post like concat ('%',#{map.post},'%')
        </if>
        limit #{map.startL},#{map.endL};
    </select>

    <select id="findCount2" resultType="java.lang.Integer">
        select count(*) from t_collect where userid=#{userid}
        <if test="map.industry!=null and map.industry!=''">
            and industry like concat ('%',#{map.industry},'%')
        </if>
        <if test="map.post!=null and map.post!=''">
            and post like concat ('%',#{map.post},'%')
        </if>
    </select>
    <update id="down">
        update t_user set img=#{img} where id=#{id};
    </update>
    <select id="getimg" resultType="com.person.bean.User">
       select * from t_user where id=#{id};
    </select>
<!--//修改个人信息-->
    <update id="Infor">
        update t_user set account=#{account},name=#{name},sex=#{sex},tel=#{tel},address=#{address} where id=#{id};
    </update>
<!--    //获得性别-->
    <select id="getsex" resultType="java.lang.Integer">
        SELECT value from t_param WHERE name=#{name}
    </select>
<!--//查找用户信息-->
    <select id="findInfor" resultType="com.person.bean.User">
        select  * from t_user where id=#{id}
    </select>

<!--    //查看公司介绍和岗位介绍-->
    <select id="introduce" resultType="com.person.bean.mixture">
select c.name,c.introduce,p.name,s.request,s.worktime,s.money,s.welfare  from t_company c
left join t_station s on c.id=s.company left join t_param p ON p.value=s.job
where p.type='岗位' and c.name=#{name} and p.name=#{pname}
    </select>
    <select id="findbyname" resultType="com.person.bean.User">
        select  * from t_user where account=#{account}
    </select>

    <insert id="getuserid">
        insert into user_face_info (username) values (#{username});
    </insert>

    <select id="getFace" resultType="com.person.bean.User">
        select * from t_user where account =(select username from user_face_info where face_id=#{faceId})
    </select>
</mapper>