<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.UserMapper">

    <select id="getUser" resultType="com.person.bean.User">
        SELECT id,account from t_user where account=#{account} and pwd=#{pwd}
    </select>

</mapper>