<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.mapper.VideoMapper">
    <select id="findVideo" resultType="com.person.bean.Menu">
        select id,name as menuname,url from t_charpters where id in (
        select cp.charpterid from t_charpter_product cp where productid=#{id})
    </select>
    <select id="findUrlById" resultType="java.lang.String">
        select url from t_charpters where id=#{id}
    </select>
    <select id="findProduct" resultType="com.person.bean.Product">
        select t_product.id,product,p1.name as teacher,
        picture,detial from t_product left join t_param p on p.value=t_product.publisher
        left join t_param p1 on p1.value=t_product.teacher left join t_param p2 on
        p2.value=t_product.scope,(select @i:=0)t where p.type='发布者'and p1.type='讲师'
        and p2.type='领域'
    </select>
    <select id="findProductOne" resultType="com.person.bean.Product">
        select id,product,picture,detial from t_product where id=#{id}
    </select>
    <select id="findCharpterByid" resultType="com.person.bean.Charpter">
        select id,name,detial from t_charpters where id=#{id}
    </select>
    <select id="findTalk" resultType="com.person.bean.Talk">
        select t.id,u.name,t.message,DATE_FORMAT(t.time,'%Y-%m-%d %H:%i:%s') as time from t_talk t left join t_user u
        on t.userid=u.id
    </select>
    <select id="findTalkCount" resultType="java.lang.Integer">
        select count(*) from t_talk
    </select>
    <insert id="addMessage">
        INSERT into t_talk (userid,message) VALUES (#{userid},#{message})
    </insert>
    <select id="studyProduct" resultType="com.person.bean.Product">
        select s.productid,p.product,p.picture,DATE_FORMAT(s.time,'%Y-%m-%d %H:%i:%s') as time from t_study s left join t_product p
        on s.productid=p.id where s.userid=#{userid}
    </select>
    <update id="updateStudyTime">
        update t_study set time=now() where userid=#{userid} and productid=#{productid}
    </update>
    <select id="hasStudy" resultType="com.person.bean.Product">
        select id from t_study where userid=#{userid} and productid=#{productid}
    </select>
    <insert id="addStudy">
        insert into t_study (userid,productid) values (#{userid},#{productid})
    </insert>
</mapper>